body{
    background-color: rgb(149, 236, 238) ;
}
#DivOne{
    background-color: red;
    max-width: fit-content;
    padding: 1%;
    margin-left: 40%;
    margin-top: 15%;
}
#btn{
    margin-left: 35%;
}
#DivTwo{
    margin-left: 90%;
}
#id{
    margin-left: 13.7%;
}